.grouped-variation-table{
    border-collapse: separate;
    float:left;
    padding: 0 20px;
}
.grouped-variation-table.half {
    width:48%;
}
.grouped-variation-table.third {
    width:32%;

}
.grouped-variation-table-container {
    clear: both;
    width:100%;
    float: left;
}
.grouped-variation-table caption {
    text-align:center;
    font-weight:bold;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .grouped-variation-table {
        width:100% !important;
        border-collapse: collapse !important;
    }
}